@model List<UserDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-between">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark text-white sidebar">
        <div class="d-flex flex-column vh-100">
            <ul class="nav flex-column flex-grow-1">
                <li class="nav-item mb-3">

                    <h5 class="text-center pt-3">ADMİN PANEL</h5>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-white" aria-current="page" asp-controller="AdminUser" asp-action="Index">
                        <i class="bi bi-people-fill"></i>
                        Kullanıcı Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="AdminCertificate" asp-action="Index">
                        <i class="bi bi-file-earmark-check-fill"></i>
                        Sertifika Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Login" asp-action="LogOut">
                        <i class="bi bi-file-earmark-check-fill"></i>
                        Çıkış Yap
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-md-9 col-lg-10">
        <!-- Kullanıcı Listeleme Tablosu -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Kullanıcılar</h4>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>E-posta</th>
                            <th>Telefon Numarası</th>
                            <th>Departman</th>
                            <th>Rol</th>
                            <th>Kayıt Tarihi</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Name</td>
                                <td>@user.Surname</td>
                                <td>@user.Email</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.Department</td>
                                <td>@user.Role</td>
                                <td>@user.RegisterDate.ToShortDateString()</td>
                                <td>
                                    <a href="/AdminUser/UpdateUser/@user.Id"
                                       class="btn btn-outline-secondary">Güncelle</a>
                                </td>
                                <td>
                                    <a href="/AdminUser/RemoveUser/@user.Id"
                                       class="btn btn-outline-secondary">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/AdminUser/AddUser"
                   class="btn btn-outline-secondary">Ekle</a>
            </div>
        </div>
    </div>
</div>
